@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { @apply font-sans; }
}

@media print {
  body * { visibility: hidden; }
  #print-area, #print-area * { visibility: visible; }
  #print-area { position: absolute; top: 0; left: 0; width: 100%; }
  .no-print { display: none !important; }
  .print-header { display: flex !important; }
}

@media screen {
  .print-header { display: flex; }
}
